
/*@media (max-height: 1919px) {
	.scroller-div {display: none;}
}*/
@media (max-width: 1850px) {
	.fixed-prices {padding: 0 30px;}
	.fixed-prices ul li {padding: 8px 20px;}
	.fixed-prices ul li > span {padding-left: 15px;}
	
}
@media (max-width: 1800px) {
	.srvc-mbl-img {display: none;}
	footer.hp1, body.hpp3.st2 footer.hp3 {background-color: #7816c0;}
	.client-carousel .owl-next {display: none !important;}
	.client-carousel .owl-prev {display: none !important;}
}

@media (max-height: 1420px) {
	.owl-next {right: -30px;}
	.owl-prev {left: -30px;}
}

@media (max-width: 1366px) {
	.owl-thumb-item {margin-right: 5px;width: 100px;}
	.product-sc {width: 330px;}
	.price-sc {width: 120px;}
	.right-sidebar {padding-left: 0;}
	.timer {padding: 0;}
	.timer {text-align: center;}
	.widget-posts .post-dv-info, .widget-tab .post-dv-info, .video-sec-details .post-dv-info {width: 65%;}
	.post-dv-info ul li {margin-right: 8px;margin-bottom: 6px;}
	.blog-items.st2 .blog_info > ul li {margin-right: 5px;}
	.blog_info > ul li span {font-size: 14px;}
	.blog_img {margin-bottom: 0;}
	.widget-arch.tags ul li a {padding: 0 11px;}
	.cm-sec {top: 60%;}
	.hp3links ul li a {padding: 10px 8px;}
	.fixed-prices {padding: 0 20px;}
	.history-sec p {font-size: 15px;}
	body.hpp3.st2 .tp-footer {padding-top: 0;}
	footer.hp1 .scrollertop {top: -25px;}

}
@media (max-width: 1240px) {
	.timer .timer-wrapper .time {width: 50px;height: 50px;line-height: 50px;}
}
@media (max-width: 1200px) {
	.gen-info > ul li > .g-info span {line-height: 23px;}
	nav {display: none;}
	.mobile-menu nav {display: block ;}
	.t-links {text-align: center;margin-top: 20px;}
	.t-logo img {width: 100%;}
	.t-links li {margin-right: 8px;}
	.our_team:hover .mem-social:before {width: 35px;}
	.owl-thumb-item {width: 80px;}
	.product-sc > h3 {padding-left: 30px;} 
	.product-sc {width: 325px;}
	.price-sc {width: 80px;}
	.quantity-sc {width: 115px;}
	.sp-item-info > h3 {line-height: 26px;}
	.shop-item {height: auto;}
	.add-cart {opacity: 1;visibility: visible;top: 0;}
	.shop-item:hover .add-cart {opacity: 1; visibility: visible; top: 0; }
	.shop-item:hover {height: auto; }
	.shop_item .sp-item-info {width: 60%;padding-top: 0;padding-right: 0;padding-left: 10px;}
	.widget-filter > p {width: 50%;}
	.sp-item-info > span del {margin-bottom: 8px;}
	.add-to-cart {font-size: 11px;}
	.sp-item-info {padding-bottom: 0;}
	.sp-item-img {height: 190px;}
	.help-info > h3 {line-height: 28px;}
	.vc-info > h3 {line-height: 30px;}
	.smart-money-info > h3 {line-height: 30px;margin-bottom: 15px;}
	.sale_links > ul {width: 100%;margin-bottom: 30px;}
	.sale_links ul.snccd {padding-left: 0;}
	.widget-price-limit > ul li {margin-right: 20px;}
	.how-works-sec .container {padding: 0 40px;}
	.timeline-details > h3 {line-height: 30px;}
	.contact-general-info {padding: 110px 60px 110px 30px;}
	.g-contact .g-title {padding-left: 15px;}
	.contact-v-sec {padding-bottom: 50px;}
	.widget-linkss ul li a {font-size: 15px;}
	.smart-money.st2 {padding: 0;padding-bottom: 30px;}
	.pagination-list {margin-bottom: 50px;}
	.blog-items.st2 .blog_info > ul li {margin-bottom: 10px;}
	.widget-posts .post-dv-info, .widget-tab .post-dv-info, .video-sec-details .post-dv-info {padding-left: 20px;}
	.blog-items.st2 .blog_info > h3 {font-size: 20px;line-height: 28px;}
	.pc-info {width: 88%;}
	.cat_list li a {padding: 0 10px;}
	.expt-info p br {display: none;}
	.cm-sec-deta > h2 {font-size: 60px;}
	.cm-sec-deta > h4 {font-size: 24px;}
	.cm-sec-deta .timer .timer-wrapper .time {font-size: 50px;}
	.cm-sec-deta > h2 {margin-bottom: 60px;}
	.cm-sec-deta.error-pg > h3 {font-size: 28px;}
	.cm-sec-deta.error-pg > h1 {font-size: 170px;}
	.subscribe_form > p {font-size: 16px;}
	header.hp8 nav {display: block;}
	.navigation-bar nav ul li {padding: 25px 10px;}
	.news-figcap ul li span {font-size: 14px;}
	.news-sidebar .news-figcap h3 {margin-bottom: 10px;}
	.news-figcap h3 {margin-bottom: 15px;}
	.news-sidebar .news-figcap h3 {font-size: 17px;line-height: 24px;}
	.news-figcap h3 {font-size: 28px;line-height: 34px;}
	.post-dv-sml.st2 .post-dv-info h3, .post-lg-grid .post-dv-info h3, .post-sm-grid .post-dv-info h3 {font-size: 15px;line-height: 23px;}
	.popular-posts.st3 .post-dv-info, .post-lg-grid .post-dv-info {margin-bottom: 10px;}
	.popular-posts.st3 .sm-post-dv .post-dv-info, .post-sm-grid .post-dv-info {width: 63%;}
	.popular-posts.st3 .sm-post-dv .post-dv-info h3, .post-sm-grid .post-dv-info h3 {line-height: 21px;}
	.popular-posts.st3 .sm-post-dv .post-dv-info ul li span {font-size: 13px;}
	.top_footer .socio-links {display: none;}
	.ft_links {float: right;padding-left: 0;}
	.post-lg-grid .post-dv-info {bottom: 15px;}
	.widget-tab .nav-link {padding: 20px 15px;}
	.widget-social ul li {margin-right: 12px;}
	.widget-posts .news-main-slider .owl-dots {display: none !important;}
	.widget-calculator form ul li {width: 70px;}
	.slect {width: 60px !important;margin-top: -7px;}
	.owl_thumb {margin-bottom: 25px;}
	.banner-text > form {width: 100%;}
	.form-fields {width: 80%;}
	.core-para h3 {font-size: 20px;}
	.cap-info {padding: 25px 10px;}
	.core-para {padding-right: 50px;}
	.token-info.st2 ul li {line-height: 24px;margin-bottom: 25px;}
	.token-info.st2 ul li:before {top: 50%;transform: translateY(-50%);}
	.heading h3 {font-size: 30px;}
	body.hpp3.st2 .value-tm-info ul li > span {float: right;}
	body.hpp3.st2 .value-tm-info ul li h3 {line-height: 24px;}
	.mem-info h3 {font-size: 18px;line-height: 22px;}
	.mem-info span {font-size: 14px;line-height: 20px;}
	body.hpp3.st2 .widget-links ul li {width: auto;display: inline-block;float: none;}
	body.hpp3.st2 .tp-footer .get-updated h3 {text-align: center;}
	body.hpp3.st2 .tp-footer {padding-top: 0;}
	.banner_textt h3 {font-size: 38px;line-height: 50px;}
	.banner_textt p {width: 90%;}
	.app-img img {width: 100%;}
	.app-sec-details .app-info {padding-top: 152px;}
	.contact-info {padding-top: 0;}
	.get-updated h3 {font-size: 20px;}
	.tp-footer .widget-links ul li {margin-right: 10px;}
	.started-info {padding: 50px 50px 97px 50px;}
	.currency-img {display: none;}
	.news-info h3 {font-size: 18px;line-height: 25px;}
	.newsletter-info h3 {font-size: 25px;}
	.t-links li a {font-size: 14px;}
	.tk-details {padding: 40px 20px;}
	.wht-links li {margin-right: 10px;}
	body.hpp3.st2 footer.hp3 .widget-links ul li {display: block;float: left;width: 100%;}
	.main-header {padding: 20px 0;}	
	.logo {padding-top: 0;}
	.cart-links {margin-top: 10px;}
	.mobile-menu-bar {display: block;}
	header.hp2 .main-header .cart-links {margin-top: 10px;}
	header.hp3 .logo {padding-top: 0;}
	header.hp3 .cart-links {margin-top: 9px;}
	.navigation-bar .mobile-menu-bar {margin-top: 4px;}
	.scroller-div:before {display: none;}
	.scroller-div {bottom: -35px;}
	.video-sec-infoo {padding: 55px 15px;}
	.news-section {padding: 80px 20px;}
	.newsletter-details {padding: 60px 20px;}
	.news-carousel .owl-nav {display: none !important;}
	.container {max-width: 100%;}
	.scroller-div {display: none;}
}

@media (max-width: 991px) {
	.blog-items.st2.v3 .pl-0,.blog-items.st2.v3 .pr-0 {padding: 0 15px;}
	.blog-items.st2.v3 .blog_img {margin-bottom: 20px;}
	.t-logo img {width: auto;float: none;}
	.t-logo {width: 100%;text-align: center;}
	.t_footer .socio-links {margin-top: 30px;}
	.t-links {text-align: center;margin-top: 22px;}
	.t_footer .socio-links {width: 100%;text-align: center;}
	footer.hp2 .widget {width: 33.33%;margin-bottom: 30px;}
	footer.hp2 .widget-newsletter {width: 50%;}
	.our_team {margin-bottom: 30px;}
	.pager .team-main-sec {margin-bottom: 0;}
	.owl-thumb-item {width: 100px;margin-right: 15px;}
	.shop-item-info {margin-top: 40px;}
	.descp-sec .tab-content {max-width: 100%;padding: 0 20px;}
	.descp-sec .post-comment-sec form {width: 100%;}
	.product-sc {width: 45%;}
	.price-sc {width: 17%;}
	.quantity-sc {width: 25%;}
	.shop_cart {margin-bottom: 50px;}
	.sp-item-img {height: auto;}
	.add-to-cart {font-size: 14px;}
	.shop-items {margin-bottom: 50px;}
	.right-sidebar.blg-sidebar.st2 .widget {margin-bottom: 60px;}
	.shop-sec > .row > .col-md-12 {max-width: 100%; flex: auto; }
	.shop-sec .col-md-12 {max-width: 100%; }
	.vc-info > p {font-size: 14px;}
	.graph-img img {width: auto;max-width: 100%;float: none;}
	.graph-img {text-align: center;margin-top: 40px;}
	.transactions-history {margin-bottom: 50px;}
	.com-presen a {width: 100%;padding-left: 15px;}
	.price {margin-bottom: 50px;}
	.price-hd > p br {display: none;}
	.tk-details {margin-top: 50px;}
	.timer .timer-wrapper .time {width: 70px;height: 70px;line-height: 70px;}
	.widget-price-limit > ul li:last-child {float: right;}
	.left-sidebar {margin-bottom: 30px;}
	.right-sidebar {padding-bottom: 40px;}
	.office_info {margin-bottom: 50px;}
	.contact-v-sec.st2 .container {max-width: 720px;}
	.tabs-list .nav-tabs .nav-item {margin-bottom: 20px;}
	.g-contact.st2 {width: 100%;float: left;}
	.tabs-contact-sec {padding-bottom: 60px;}
	#map {height: 300px !important;}
	.contact-general-info.st2 {width: 100%;float: left;padding-right: 0;}
	.contact-v-sec.pt {padding-left: 15px;padding-right: 15px;}
	.contact-general-info.st2 {padding-top: 40px;padding-bottom: 0;}
	.billing-details {margin-bottom: 40px;}
	.service-single-details {margin-bottom: 50px;}
	.post-dv-info h3 {font-size: 15px;line-height: 23px;}
	.blog-items .post-dv-info {padding: 0 10px;}
	.blog-items .post-dv-info ul li {margin-bottom: 10px;}
	.blog-items .post-dv-info ul li:last-child {margin-bottom: 0;}
	.blog-items .post-dv-info ul {margin-bottom: 0;}
	.blog_img {margin-bottom: 20px;height: auto !important;}
	.blog-itm {margin-bottom: 40px;}
	.blog-itm {float: left;width: 50%;}
	.blog-items.st2 .blog_info > h3 {font-size: 22px;line-height: 30px;}
	.pc-info {width: 85%;}
	.about-main-dv .help-info {margin-top: 40px;}
	.expt-info p {line-height: 24px;padding: 0;}
	.exp-details {padding: 70px 0;}
	.expt-info h3 {margin-bottom: 20px;}
	.abt-img {margin-top: 40px;}
	.cm-sec-deta > h2 {margin-bottom: 50px;}
	.cm-sec-deta .timer .timer-wrapper .time {margin-bottom: 30px;}
	.cm-sec-deta .timer .timer-wrapper .text {font-size: 16px;}
	.bdy-bg .wrapper {height: auto;}
	.cm-sec {position: static;transform: inherit;padding: 100px 0;}
	.bdy-bg.sc header {position: static;}
	.bdy-bg.sc {background-color: #390c9a; background-image: inherit; }
	header.hp8 nav {display: none;}
	.navigation-bar .cart-links {width: auto;margin: 0;float: left;padding: 0;}
	.navigation-bar .mobile-menu-bar {margin-top: 0;}
	.navigation-bar .mobile-menu-bar > a {margin-top: 0;}
	.navigation-bar .cart-links ul {width: 100%;}
	.navigation-bar {padding: 15px 0;}
	.ft-logo img {width: 100%;}
	.ft-logo {width: 28%;}
	.news-sidebar .news-slide {width: 50%;float: left;padding: 0 15px;margin-top: 30px;}
	.news-sidebar .news-slide .news-figcap {padding: 0 35px 15px 35px;}
	.news-blog-main .popular-posts .post-dv .post-dv-info h3 {font-size: 20px;line-height: 28px;}
	.news-blog-main .popular-posts .post-dv-sml .post-dv .post-dv-info h3 {font-size: 16px;line-height: 23px;padding-top: 0;}
	.post-dv-sml.st2 .post-dv-info {padding-bottom: 20px;}
	.widget-calculator form ul li {width: 38%;}
	.slect {width: 19% !important;}
	.news-bg-img {margin-bottom: 35px;}
	.news-bg-img {margin-bottom: 0;}
	.small-posts-dv {margin-top: 40px;}
	.widget-posts .news-figcap h3 br {display: none;}
	.post-lg-grid .post-dv-info {bottom: 30px;}
	.post-lg-grid .post-dv-img {margin-top: 25px;}
	.small-posts-dv .sm-post-dv {width: 50%;}
	.news-sidebar .news-figcap h3 {font-size: 22px;line-height: 30px;}
	.owl-thumbs-list {display: none;}
	.news-main-slider.hpp7 .owl-dots {display: block !important;}
	.news-main-slider.hpp7 .news-figcap {width: 80%;}
	.form-fields {width: 100%;margin-bottom: 25px;}
	.form-field {width: 33%;}
	.get-updated form {width: 100%;}
	footer.hp5 .footer-data address ul li {font-size: 14px;}
	body.hpp3.st2 header {position: static;background-color: #9213e3;}
	header.hp3 .logo {padding: 0;}
	header.hp3 .cart-links {margin-top: 9px;}
	body.hpp3.st2 .service_info {margin-bottom: 50px;}
	body.hpp3.st2 .service_info::before {display: none;}
	.services_details {margin-bottom: -50px;}
	.core-para {padding: 0;margin-bottom: 40px;}
	.token-info ul li {width: 50%;}
	.token-info {margin-bottom: 40px;}
	body.hpp3.st2 .circle-img img {width: auto;float: none;}
	body.hpp3.st2 .circle-img {width: 100%;text-align: center;margin-bottom: 30px;}
	.token-sec-details .heading.ta-right h3 {text-align: left;}
	.token-sec-details .heading {margin-bottom: 30px;}
	body.hpp3.st2 .token-info.ta-right {padding-left: 0;}
	.payment-method-info {padding: 0;margin-top: 40px;}
	body.hpp3.st2 .app-img {margin-top: 40px;width: 100%;text-align: center;}
	body.hpp3.st2 .app-img img {float: none;width: auto;}
	.team-members .team {margin-bottom: 35px;}
	.faq-questions {width: 100%;}
	.tp-footer .widget-about .socio-links li:last-child {margin-right: 0;}
	body.hpp3.st2 .tp-footer .get-updated {padding-right: 0;}
	header.hp3 {padding: 20px 0;}
	.banner-sec3.pt {padding-top: 70px;}
	.service_info {margin-bottom: 40px;}
	.services_details {margin-bottom: -40px;}
	.circle-img {width: 100%;text-align: center;}
	.circle-img img {float: none;max-width: 70%;}
	.token_details.st2 {width: 100%;}
	.sale-sec.pt {padding: 60px 0 70px 0;}
	.app-sec-details .app-info {padding-top: 0;margin-bottom: 60px;}
	.app-img img {width: auto;max-width: 60%;float: none;}
	.app-img {text-align: center;}
	.faqs-sec-details .nav-tabs .nav-link {padding: 0 30px 20px 30px;}
	.contact-info ul li {margin-bottom: 40px;}
	.contact-info {margin-bottom: 50px;}
	.token_details {width: 100%;}
	.tp-footer .widget-links {text-align: center;margin-top: 50px;}
	.tp-footer .widget-about img {margin-bottom: 30px;}
	.expt-info {margin-bottom: 40px;}
	.exp-details.hp2 {margin-bottom: -40px;}
	.price-dv {margin-bottom: 30px;}
	.price-tables-sec.pt {padding: 100px 0 40px 0;}
	.conv-img {display: none;}
	.convo-info {width: 100%;}
	.gt-img {margin-bottom: 30px;}
	.started-info .nav-tabs .nav-item {margin-bottom: 10px;}
	.social_links {width: 100%;text-align: left;margin-top: 30px;}
	.social_links h3 {float: none;display: inline-block;}
	.social_links ul {float: none;display: inline-block;position: static;margin: 0;}
	.app-info {width: 50%;margin: 0;}
	.our-srvc-list {margin-top: 50px;}
	.title.pd-left {padding-left: 0;}
	.title h3::before, .title::before {display: none;}
	.title {margin-bottom: 40px;}
	.title h3 {font-size: 26px;padding-left: 15px;}
	.price-tables-sec .title {margin-bottom: 40px;}
	.about-us .title h3 {float: left;}
	.newsletter-info {text-align: center;margin-bottom: 15px;}
	footer.hp1 .widget {width: 33%;margin-bottom: 40px;}
	header.hp1 {position: static;background-color: #9615e7;}
	.pager-sec.st2 {padding: 100px 0 100px 0;}
	.main-header {padding-bottom: 20px;}
	.pager-sec {padding: 80px 0 120px 0;}
	.sp-item-info {padding-bottom: 25px;}
	.how-info {padding-left: 30px;}
	.pager-sec {padding: 50px 0 70px 0;}
	.widget-posts .small-posts-dv {margin-top: 0;}
	.pager-info {margin-top: -25px;}
	body.hpp3.st2 footer.hp3 .widget-links {margin-bottom: 20px;}
	.blog-main-sec .popular-posts .post-dv .post-dv-info {margin-top: 20px;}
	.search-page form {width: 100%;padding: 0 30px;}
	.search-page form button {right: 30px;}
	header.hp3 .main-header {padding: 0;}
	.g-contact .pl-0,.g-contact .pr-0 {padding: inherit;}
	body.hp6 .option-isotop ul li a {padding: 0 20px;}
	.main-slider .metis.tp-tabs {bottom: 8% !important;}
	.mobile-menu {width: 100%;}
	.right-side-menu {width: 100%;}

}

@media (max-width: 768px) {
	.pager-sec.st2 {padding: 60px 0;}
	.payment_info h2 {font-size: 30px;}
	.t-logo {width: 100%;text-align: center;}
	.t-logo img {float: none;}
	.t-links {text-align: center;}
	.t-links li {margin-right: 15px;}
	footer.hp2 .widget {width: 50%;}
	.wallet-sec.chg .wel-hd p br {display: none;}
	.bottom-footer p {padding: 0 15px;}
	.owl-thumb-item {margin-right: 8px;}
	.sp-details .product-sc {width: 100%;}
	.sp-details .price-sc {text-align: center;width: 33%;}
	.sp-details .quantity-sc {width: 33%;text-align: center;}
	.sp-details .spin-cart {display: inline-block;float: none;}
	.sp-details .total-sc {width: 33%;text-align: center;}
	.sp-item-info {text-align: center;}
	.shop_item .sp-item-info {width: 80%;text-align: left;}
	.service-single-details > h3 {font-size: 24px;line-height: 32px;}
	.wht-links {width: 100%;margin-top: 30px;}
	.sc-img {margin-bottom: 30px;}
	.how-info {position: static;transform: inherit;padding: 45px 0 0 0;}
	.how-works-sec {padding-bottom: 0;}
	.how-work-img {width: 200px;height: 200px;line-height: 200px;}
	.how-works-info:nth-child(2n) .how-work-img {margin-bottom: 60px;margin-top: 60px;}
	.how-works-info:last-child {margin-bottom: 50px;}
	.how-works-info:nth-child(2n) .how-info {padding-right: 0;}
	.how_mg::before {display: none;}
	.timeline-details {width: 100%;}
	.timeline-div::before {display: none;}
	.contact-general-info.st2 .gen-info > ul li {width: 100%;text-align: center;}
	.contact-general-info.st2 .gen-info > ul li:first-child {width: 100%;}
	.contact-general-info {padding: 70px 25px;}
	.option-isotop ul li {margin-bottom: 20px;}
	.blog-itm {width: 100%;}
	.blog_sml_post {float: left;width: 100%;margin-top: 20px;}
	.cat_list {width: 100%;text-align: center;}
	.post-socio {width: 100%;text-align: center;margin-top: 15px;}
	.post-vc {width: 100%;}
	.post-vc:last-child {margin-top: 40px;}
	.blog_info > h3 {line-height: 32px;font-size: 23px;}
	.abt-slide > p br {display: none;}
	.srvs-info {margin-bottom: 40px;}
	.expt-info {margin-bottom: 40px;}
	.wel-hd p br {display: none;}
	.cm-sec .container {width: 100%;max-width: 100%;}
	.top-hd .logo {width: 100%;text-align: center;}
	.top-hd .logo img {float: none;}
	.rt-social-links {width: 100%;text-align: center;padding-top: 30px;padding-bottom: 30px;}
	.rt-social-links h4 {display: inline-block;float: none;}
	.rt-social-links ul {display: inline-block;float: none;}
	.ft-logo {width: 100%;text-align: center;}
	.ft-logo img {width: auto;float: none;}
	.ft_links {width: 100%;text-align: center;}
	.ft_links ul {width: 100%;margin-top: 10px;}
	.news-main-slider .owl-dots {display: none !important;}
	.news-sidebar .news-slide {width: 100%;}
	.post-dv-sml .post-dv {margin-bottom: 25px;}
	.widget-calculator form ul li {width: 36%;}	
	.small-posts-dv .sm-post-dv {width: 100%;}	
	.post-lg-grid .news-figcap h3 {line-height: 28px;}
	.post-dv-sml.st2 .post-dv-info {margin-bottom: 0;}
	.date-info {width: 100%;text-align: center;}
	header.hp8.st2 .logo {width: 100%;}
	.date-info > h4 {padding-top: 0;}
	.rt-social-links {padding-top: 20px;padding-bottom: 0;}
	header.hp8.st2 .top-hd {padding: 20px 0;}
	.form-field {width: 28%;}
	.main-banner-sec {padding: 100px 0 100px 0;}
	.footer-data {text-align: center;}
	footer.hp5 .footer-data .widget-about > img {float: none;}
	.get-updated h3 {text-align: center;margin-bottom: 25px;}
	footer.hp5 .footer-data {padding-bottom: 25px;}
	.socio-links li:last-child {margin-right: 0;}
	.token-info ul li {width: 100%;}
	body.hpp3.st2 .circle-img img {max-width: 65%;}
	body.hpp3.st2 .app-img img {max-width: 60%;}
	body.hpp3.st2 .bottom-strip p {width: 100%;text-align: center;}
	body.hpp3.st2 .bottom-strip a {margin-top: 20px;}
	.scroller-div {display: none;}
	.service_info h3 {font-size: 19px;line-height: 26px;}
	.faqs-sec-details .nav-tabs .nav-link {padding: 0 20px 20px 20px;font-size: 16px;}
	.token-sec.st2.pt {padding: 70px 0 0 0;}
	.partner-sec.pt {padding: 70px 0;}
	.tp-footer .widget {text-align: center;}
	.tp-footer .widget-about img {float: none;}
	.tp-footer .get-updated {padding-right: 0;}
	.bottom-strip.st2 p {width: 100%;text-align: center;}
	.bottom-strip.st2 > a {margin-top: 25px;width: 100%;text-align: center;}
	.tp-footer {padding: 80px 0 50px 0;}
	.title.pd-left {padding-left: 0;}
	.title h3::before, .title::before {display: none;}
	.title h3 {padding-left: 0;}
	.title h3 {font-size: 25px;}
	.price-tables-sec .title {margin-bottom: 50px;}
	.currency-tb table tbody tr td {font-size: 14px;}
	.currency-tb {padding: 40px 20px;}
	.convo-info {padding: 50px 20px;}
	.started-info {padding: 50px 25px 97px 25px;}
	.our-services {padding: 80px 20px;}
	.news-section {padding: 60px 40px;}
	.news-section .owl-prev {left: -30px;}
	.news-section .owl-next {right: -30px;}
	.newsletter-info h3 {font-size: 22px;}
	.newsletter-info p {line-height: 25px;}
	footer.hp1 .widget-title, footer.hp1 .social_links h3 {font-size: 19px;}
	header.hp2 {position: static;background-color: #32328e;}
	body.hpp3.st2 .bottom-strip a {width: 100%;text-align: center;}
	.close-search {right: 30px;}
	.fixed-prices {padding: 0 10px;}
	header.hp8.st2 .rt-social-links {padding-bottom: 0;}
	header.hp8 .rt-social-links {padding-bottom: 20px;}
	.post-comment-sec form {width: 100%;}
	.billing-details .pl-0,.billing-details .pr-0 {padding: inherit;}
	body.hp8 .pl-0, body.hp8 .pr-0 {padding: 0 10px !important;}
	.news-sidebar .news-slide {padding: 0;}
	.tpup {width: 100%;}
	.bottom-strip.ta-left {text-align: center;}
	.bottom-strip.ta-left p {width: 100%;margin-bottom: 25px;}
	.bottom-strip.ta-left .scrollertop {float: none;}
	body.hpp3.st2 .bottom-strip .tpup {width: 100%;text-align: center;}
	body.hpp3.st2 .bottom-strip .tpup > a {width: 50px;float: none;}
	body.hpp3.st2 .bottom-strip .tpup > span {display: none;}
	.main-slider .metis.tp-tabs {bottom: 4% !important;}

}

@media (max-width: 576px) {
	.rt-social-links {padding-top: 10px;}
	.pager-sec-details h3 {font-size: 30px;}
	.payment_info h2 {font-size: 24px;margin-bottom: 15px;}
	.payment_info > a {margin-top: 20px;}
	.paymy {padding: 50px 0 50px 0;}
	.t-links li {line-height: 30px;}
	footer.hp2 .widget {width: 100%;}
	.wallet-sec {padding: 50px 0;}
	.comment-sec > h3, .post-comment-sec > h3 {line-height: 34px;}
	.bl-links li {line-height: 24px;}
	.price-sc {width: 100%;margin-bottom: 15px;}
	.product-sc {width: 100%;margin-bottom: 15px;}
	.quantity-sc {width: 100%;margin-bottom: 15px;}
	.product-sc > h3 {padding-left: 0;}
	.sp-head {text-align: center;}
	.total-sc {width: 100%;}
	.shop-sec .cpd-sec form input[type="text"] {width: 100%;margin-bottom: 20px;}
	.coupy-code {width: 100%;}
	.coupy-code form button {width: 100%;margin:0;margin-bottom: 20px;}
	.update-cart {width: 100%;text-align: center;}
	.prt-info > h3 {line-height: 22px;}
	.how-works-sec .container {padding: 0 15px;}
	.g-contact.st2 form {padding: 0;}
	.gen-info > ul li > .g-info span {line-height: 24px;}
	.contact-general-info {padding: 50px 15px;}
	.abt-slide {padding: 35px 40px 90px 40px;}
	.cm-sec-deta .timer .timer-wrapper {margin-bottom: 40px;}
	.subscribe_form > form {width: 100%;}
	.bottom_footer .widget {margin-bottom: 30px;}
	.ft_links ul li {margin-bottom: 15px;}
	.ft_links ul li:last-child {margin-bottom: 0;}
	.news-main-slider .news-figcap h3 {font-size: 24px;line-height: 29px;}
	.play-video {bottom: auto;top: 40px;}
	.video-sec-details .news-figcap h3 {line-height: 30px;}	
	.post-lg-grid .news-main-slider .news-figcap ul {display: none;}
	.post-lg-grid .news-main-slider .news-figcap {padding-bottom: 0;}
	.post-lg-grid .news-main-slider .news-figcap h3 {font-size: 18px;line-height: 24px;}
	.news-main-slider.hpp7 .owl-dots {display: none !important;}
	.news-figcap ul li {margin-right: 10px;}
	.form-field {width: 100%;}
	.form-fields {border-radius: 0;}
	.banner-text h3 {font-size: 36px;margin-bottom: 25px;}
	.banner-text p {line-height: 24px;}
	.option-isotop ul li {margin-bottom: 10px;}
	.heading h3 {font-size: 26px;}
	.heading h4 {font-size: 23px;}
	.core-para h3 {line-height: 28px;}
	.value-tm-info ul li h3 {font-size: 14px;}
	.value-tm-info ul li span {font-size: 14px;margin-top: 0;}
	body.hpp3.st2 .app-info {padding-top: 0;}
	body.hpp3.st2 .app-info > ul li {line-height: 23px;}
	.app-sec-details .app-info > ul li::before {top: 50%;transform: translateY(-50%);}
	address ul li {line-height: 26px;}
	.tp-footer .get-updated {padding-right: 0;}
	.faqs-sec-details .nav-tabs .nav-link {margin-bottom: 25px;}
	.token-info.ta-right {padding-left: 0;}
	.app-sec-details .app-info > ul li {line-height: 24px;}
	.faq-ques h3 {line-height: 26px;}
	.currency-tb table thead th {font-size: 13px;}
	.currency-tb table tbody tr td {font-size: 13px;}
	.convo-info p {padding-right: 0;}
	.srvc-info {padding-left: 15px;}
	.srvc-info p {padding-right: 0;}
	.srvc-info h3 {font-size: 20px;}
	.srvc-points ul li {width: 100%;}
	.newsletter-details {padding: 50px 20px;}
	.fixed-prices ul li {float: left;width: 100%;display: block;border:0;text-align: center;padding: 0;margin-bottom: 20px;}
	.right-side-menu {width: 100%;}
	.logo {width: 100%;text-align: center;margin-bottom: 15px;}
	.logo img {float: none;}
	.cart-links {width: auto;margin: 0;text-align: center;padding: 0;display: inline-block;float: left;}
	.cart-links ul {width: auto;}
	.mobile-menu-bar {display: inline-block;float: right;margin: 0;}
	header {text-align: center;}
	.mobile-menu-bar > a {margin-top: 0;position: relative;top: 2px;}
	header.hp2 .main-header .cart-links {margin-top: 0;}
	header.hp3 .cart-links {margin-top: 0;}
	.search-page form input {font-size: 24px;}
	.cart-links ul li:first-child {padding-left: 0;}

}


@media (max-width: 480px) {
	body.hpp3.st2 footer.hp3 .widget-links ul li {margin-bottom: 20px;}
	.how-info h3 {line-height: 32px;}
	.mbl-logo img {max-width: 70%;}
	.main-header {padding-bottom: 15px;}
	body.hpp3.st2 header {position: static;background-color: #9618e6;}
	.pager-sec.st2 {padding: 70px 0;}
	.payment_info h2 {line-height: 32px;}
	.pager-sec {padding: 50px 0 70px 0;}
	.shop-slide > img {width: 100% !important;}
	.shop-item-info > h3 {line-height: 34px;}
	.spin-cart {float: right;}
	.item_price_info .add-cart {width: 100%;padding-left: 0;margin-top: 15px;}
	.comment-sec > ul li .user_info {display: unset;float: left;padding-left: 0;margin-top: 25px;}
	.comment-sec > ul li .user_img {display: unset;}
	.prt-info {width: 90%;}
	.cart-totals {padding: 40px 25px;}
	.shop_item .sp-item-info {width: 65%;}
	.service-single-details > h3 {font-size: 20px;margin-bottom: 15px;}
	.vc-info {display: unset;float: left;padding-left: 0;}
	.vc_icon {display: unset;margin-bottom: 30px;float: left;}
	.services-ques .toggle-item h2 {line-height: 24px;font-size: 16px;}
	.wht-links li a,.wht-links li {width: 100%;}
	.wht-links {text-align: center;}
	.wht-links li {margin-bottom: 20px;}
	.sale_links > ul li h4 {margin-bottom: 10px;}
	.sale_links ul.snccd li h4 {width: 130px;line-height: 22px;}
	.sale_links.rev > ul li h4 {width: 110px;line-height: 22px;}
	.sale_links.addy ul li h4 {line-height: 22px;}
	.timer .timer-wrapper {margin-bottom: 20px;}
	.history-sec > h3 {font-size: 20px;}
	.services-ques .toggle-item h2 {padding: 20px 15px;}
	.map-links li,.map-links li a{float: left;width: 100%;text-align: center;}
	.map-links li {margin-bottom: 10px;}
	.cart-totals h4 + ul li span:last-child {width: 100%;text-align: right;margin-top: 10px;}
	.cart-totals.st2 > ul .calco-ship {width: 100%;}
	.cart-totals.st2 > ul .calco-ship li {float: left;width: 100%;}
	.cart-totals.st2 > ul .calco-ship li label span {width: 14px;height: 14px;}
	.cart-totals.st2 > ul .calco-ship li label + span {width: auto;float: left;}
	.cart-totals.st2 > ul .calco-ship {margin-top: 25px;}
	.cart-totals.st2 > ul .calco-ship li a {text-align: left;width: 100%;}
	.cart-totals.st2 .calco-ship li:last-child .input-field > span {width: 90%;line-height: 18px;}
	.cart-totals.st2 .calco-ship li:last-child .input-field > label span {margin-top: 4px;}
	.widget-posts .post-dv-info, .widget-tab .post-dv-info, .video-sec-details .post-dv-info {width: 63%;}
	.post-dv-info ul {display: none;}
	.blog-items .post-dv .cat-name {top: 15px;left: 15px;}
	.blog-items .post-dv-info {bottom: 0;}
	.blog-items .col-12 {padding: 0;}
	.widget-currency ul {padding: 30px 15px;}
	.blog-items.st2 .blog_info > h3 {font-size: 20px;line-height: 27px;}
	.blog_info > h3 {font-size: 22px;line-height: 30px;}
	.blog_info > ul li {margin-bottom: 10px;}
	.blog-items.sc .blog_img {height: 220px !important;}
	.blog-items.sc .blog_img > a img {width: auto;max-width: 80%;}
	.pc-info {width: 80%;}
	.comment-sec > h3, .post-comment-sec > h3 {font-size: 21px;}
	.widget-cat .widget-linkss ul li a {font-size: 14px;}
	.cat_list li {margin-bottom: 10px;}
	.abt-slide {padding: 35px 20px 90px 20px;}
	.abt-slide > h3 {font-size: 25px;line-height: 32px;}
	.cm-sec-deta .subscribe_form {margin-top: 20px;}
	.subscribe_form > p {line-height: 22px;}
	.rt-social-links {padding: 20px 0;}
	.rt-social-links h4 {float: left;width: 100%;margin-bottom: 20px;padding-right: 0;}
	.rt-social-links ul {float: left;width: 100%;}
	.news-main-slider .news-figcap ul {display: none;}
	.news-main-slider .news-figcap {padding-bottom: 0;}
	.news-main-slider .news-figcap h3 {font-size: 17px;line-height: 23px;}
	.cat-name {left: 20px;}
	.news-sidebar .news-slide .cat-name {left: 20px;}
	.news-sidebar .news-slide .news-figcap ul {display: none;}
	.news-sidebar .news-slide {padding: 0;}
	.news-sidebar .news-slide .news-figcap {padding: 0 20px 15px 20px;}
	.news-sidebar .news-figcap h3 {font-size: 16px;line-height: 22px;}
	.popular-posts.st3 .sm-post-dv .post-dv-info, .post-sm-grid .post-dv-info {width: 55%;}
	.widget-calculator form ul li {width: 33%;}
	.widget-tab .nav-link {font-size: 14px;}
	.video-sec-details .news-figcap {display: none;}
	.play-video {top: 50%;transform: translateY(-50%) translateX(50%);right: 50%;}
	.post-lg-grid .news-main-slider .cat-name {display: none;}
	.news-main-slider.hpp7 .news-figcap h3 {font-size: 15px;}
	.widget-calculator form {padding: 30px 15px;}
	header.hp2 .main-header .cart-links {margin-top: 0;}
	.banner-text h3 {line-height: 36px;font-size: 30px;}
	.lsit-dt-info {width: 100%;padding-left: 0;padding-top: 30px;}
	.socio-links li {margin-right: 20px;}
	footer.hp5 .footer-data address ul li {line-height: 24px;}
	.get-updated form button {position: static;margin-top: 15px;}
	.list-dt h4 {font-size: 14px;}
	header.hp3 .cart-links ul {width: auto;display: inline-block;float: none;}
	header.hp3 .cart-links {text-align: center;}
	header.hp3 .cart-links ul.language-list {position: relative;top: -15px;}
	.heading h3 {font-size: 22px;}
	.value-tm-info ul li {padding: 25px 15px;}
	body.hpp3.st2 .value-tm-info ul li h3 {width: 40%;line-height: 21px;}
	body.hpp3.st2 .value-tm-info ul li > span {margin-top: 4px;}
	.payment-method-info h3 {font-size: 18px;line-height: 25px;}
	.payment-method-info p {float: left;width: 100%;}
	.app-buy-links > a {width: 100%;text-align: center;}
	.app-buy-links > ul {width: 100%;text-align: center;padding-left: 0;}
	.tp-footer .get-updated form {text-align: center;}
	body.hpp3.st2 .widget-links ul li {margin-right: 15px;margin-bottom: 10px;}
	.banner_textt h3 br {display: none;}
	.banner_textt h3 {font-size: 24px;line-height: 32px;}
	.banner_textt > ul li,.banner_textt > ul li a {float: left;width: 100%;display: block;text-align: center;}
	.banner_textt > ul li {margin-bottom: 20px;}
	.wr-info h3 {font-size: 18px;}
	.wr-info > span {font-size: 14px;}
	.pp-info > span {font-size: 14px;}
	.value-tm-info ul li span {font-size: 11px;margin: 0;}
	.value-tm-info ul li h3 {font-size: 11px;}
	.cc-info p br {display: none;}
	.cc-info {width: 70%;}
	.title h3 {font-size: 22px;}
	.title {margin-bottom: 35px;}
	.price-tables-sec .title h3 {text-align: left;line-height: 34px;}
	.currency-tb table thead th {font-size: 8px;}
	.currency-tb table tbody tr td {font-size: 8px;}
	.con-text-field, .con-curr-list {width: 100%;margin-bottom: 20px;}
	.started-info .nav-tabs .nav-link {font-size: 16px;}
	.started-info {padding: 50px 15px 97px 15px;}
	.gt-info {padding-left: 0;}
	.gt-info h3 {font-size: 20px;line-height: 29px;}
	.srvc-info {display: unset;float: left;padding: 0;margin-top: 20px;}
	.news-section {padding: 40px 20px;}
	.app-info {width: 100%;margin-bottom: 30px;}
	.social_links ul {padding: 0;width: 100%;margin-top: 20px;}
	.client-say p {padding: 60px 20px;}
	.srvc-points ul li {line-height: 24px;}
	.newsletter-info h3 {line-height: 30px;}
	footer.hp1 .widget {width: 100%;}
	.sale_links > ul li span {font-size: 14px;}
	.sale_links > ul li span {padding-left: 20px;}
	.return-custo > h4 {font-size: 13px;}
	.mobile-menu {width: 100%;}	
	.search-page form input {font-size: 14px;}
	.r-logo {padding: 70px 30px 0 30px;width: 100%;text-align: center;}
	.r-logo img {float: none;}
	.right-side-menu .widget-currency .widget-title {font-size: 22px;padding-left: 40px;}
	.widget-title::before {width: 30px;}
	.crncy-dets {padding: 0 15px;}
	.r-logo {padding: 70px 15px 0 15px;}
	.r-search {padding: 0 15px;}
	.top-hd .rt-social-links {padding-top: 10px;padding-bottom: 0;}
	.search-page form input {height: 55px;}
	.color-schemes {padding-left: 20px;width: 60%;}
	.color-schemes ul li a {width: 25px;height: 25px;}
	.color-schemes ul li + br {display: none;}
	body.hpp3.st2 footer.hp3 .widget-links {padding-right: 0;}
	.scrollertop {bottom: auto;top: -30px;}
	.right-side-menu .widget-title::before {display: none;}
	.right-side-menu .widget-currency .widget-title {padding-left: 20px;}
	.video-sec-details .post-dv-info {width: 60%;}
}







