
.title h3,
.expt-info p,
.convo-info p,
.con-text-field input,
.con-curr-list select,
.con-curr-list:before,
.client-say p,
.news-info h3,
.newsletter-info p,
.started-info .nav-tabs .nav-link,
.gt-info p,
.form-field:before,
.form-field select,
.search-field input,
.arch-links li a,
.catg-links li input[type="checkbox"] + label span:before,
.catg-links li > span,
.lsit-dt-info h3,
.lsit-dt-info h3 a,
.list-dt h4,
.option-isotop ul li a,
body.hpp3.st2 .heading h3,
body.hpp3.st2 .core-para h3,
body.hpp3.st2 .timeline-details > h3,
body.hpp3.st2 .mem-info h3,
.toggle-item h2,
.toggle-item h2:before,
.abt-info h3,
.abt-info p,
.srvs-info h3,
.team-vsec h3,
.our_team > span,
.payment_info h2,
.payment_info p,
.payment_info p a,
.help-info > p,
.com-presen a,
.history-sec > h3,
.history-sec p,
.wallet-sec.chg .wel-hd p,
.wallet-sec.chg .wallet-info span,
.svc-info > h3,
.svc-info > h3 a,
.option-isotop ul li a,
.cs-item > h3,
.cs-item > h3 a,
.price-hd > p,
.price-mn > ul li a,
.g-title,
.gen-info > ul li > .g-info span,
.g-contact form input,
.g-contact form textarea,
.g-info > a,
.tabs-list .nav-tabs .nav-link,
.map-links li a,
.how-info h3,
.service-single-details > h3,
.vc-info > h3,
.services-ques .toggle-item h2,
.toggle-item h2:before,
.bl-links li,
.smart-money-info > h3,
.graph-lnks li,
.service-single-details > blockquote > h3,
.blog_info > h3,
.blog_info > h3 a,
.widget-search form input,
.widget-cat .widget-linkss ul li a,
.post-socio li span,
.comment-sec > h3,
.post-comment-sec > h3,
.user_info > h3,
.post-comment-sec form input,
.post-comment-sec form textarea,
.pc-info > h3,
.pc-info > span,
.sp-item-info > h3 a,
.shop-item-info > h3,
.descp-sec .nav-tabs .nav-link,
.cart-totals > ul li span,
.return-custo > h4,
.calco-ship li a,
.cart-totals.st2 > .calco-ship li:last-child .input-field > span,
.left-sidebar .widget-title,
.widget-scope > ul li a,
.widget-scope > ul li span,
.wd-checks li .input-field input[type="checkbox"] + label span:before,
.wd-checks li .input-field > a, .wd-checks li .input-field > span,
.widget-price-limit > ul li select,
.sl-title,
.sale_links > ul li h4,
.r-search form input,
.right-side-menu .widget-currency .widget-title,
.crncy-dets > ul li h4,
.fixed-prices ul li > h4,
.fixed-prices ul li > span,
p,
header nav ul ul > li a,
.title h3,
.trx-sec p,
.news-info h3 a,
header nav ul ul > li a:hover
{
	color: #556bff;
}
.currency-tb,
.newsletter-form form button,
.option-isotop ul li a.selected,
.tabs-list .nav-tabs .nav-link.active,
.our-srvc-list,
.main-slider .lyra1.st3.act,
.main-slider .lyra1.st3:hover,
header nav > ul > li:last-child a,
.cart-links ul li span.count-no,
header.sticky {
	background-color: #556bff;
}
.catg-links li input[type="checkbox"]:checked + label span {
	border-color: #556bff;
}